#container{    
    background-color:rgb(244, 92, 92) ;
       width: 850px;
       height: 992px;
       border-radius: 5%;       
}

#picture{
    width: 250px;
    height: 350px;
    border-radius: 5%;
    margin-right: auto;
    margin-top: 20px;
}

#info{
    background-color: aqua;
    width: 750px;
    height: 900px;
    margin-right: auto;  
    border-radius: 5%;
}

#info p{
    padding-left: 50px;
    font-size: 18px;
    padding-top: 1%;    
    padding: auto;
}

#techs{
    width: 45px;
    height: 45px;
    margin-left: 25x;    
}

#code{
    padding-left: 60px;    
    padding: auto;
}

#cont{
    width: 45px;
    height: 45px;
    margin-left: 25px;
    padding: auto;
}

#contact{
    padding-left: 60px;
    padding: auto;
}