*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

#info {
    background-color: rgb(162, 204, 204);
    margin: auto;
    padding: 10px 5px;
    min-width: 100dvh;    
    min-height: 100dvh;
    margin-bottom: auto;   
        
}
#body .card > image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

#Card{
    min-width: 100dvh;
    background-color: rgb(238, 117, 117);
    border: 1px solid rgb(68, 68, 233);
    padding: 20px;
    margin: auto;       
}

#card image {
    max-width: 100%;
    height: auto;
}

#info p{
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;        
    padding-top: 1px;
}

#techs{
    width: 45px;
    height: 45px;
    margin-left: 25x;    
}

#footer {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    box-shadow: 0,0,20px 5px;
    position: sticky;

}
#footer i {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
    /*
    padding: 20px;
    text-align: center;
}
*/
#contact {
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

#box-redes-sociais{
    ul.box-redes-sociais {
        display: flex;
        flex-direction: row;
        background: transparent;
        width: 305px;
        float: none;
        margin: auto;
    }
    
    ul.box-redes-sociais li {
        list-style: none;
        margin: auto;
    }
    
    ul.box-redes-sociais li a {
        width: 50px;
        height: 50px;
        background-color: #fff;
        text-align: center;
        line-height: 45px;
        font-size: 22px;
        margin: 0 5px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 2px solid #eaeaea;
        z-index: 1;
    }
    
    ul.box-redes-sociais li a .icon {
        position: relative;
        color: #262626;
        transition: 0.3s;
        z-index: 3;
    }
    
    ul.box-redes-sociais li a:hover .icon {
        color: #fff;
        transform: scale(1.2);
    }
    
}